
html{
    background: grey
}


Body {
    float : center;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    background:  #777;
    width: 960px;
    height: 550;
    font-size: 18px;
    margin: 10px auto;
    

}

.header {
    padding:1px 0px 1px 0px;
    margin: 0px auto;
    color : #777;
    text-align: center;
    font-size: 18px;
    width: 960px;
}

.header, .nav, .footer, .section, .aside {
 background-color:#ebebeb;   
}

.nav {
    padding:1px 0px 1px 0px;
    margin: 10px auto;
    color : #777;
    text-align: center;
    font-size: 18px;
    width: 960px;
    
}

.article {
    float: left;
    margin: 2px 5px 1px 5px;
    color :#ebebeb;
    text-align: center;
    font-size: 18px;
    width: 483px;
    height: 222px;
    background: #777;
}
.h1 {
    margin: 1px auto;
    color :#777;
    text-align: center;
    font-size: 18px;
    width: 453px;
    height: 50px;
    background: #ebebeb;
    line-height: 50px;

    
}

.p{
    
    margin: 0px auto;
    color :#777;
    text-align: center;
    font-size: 18px;
    width: 453px;
    height: 50px;
    background: #ebebeb;
    line-height: 40px;
    
}



.section {
    float: left;
    
    margin: 10px auto;
    color : #777;
    text-align: center;
    font-size: 18px;
    width: 495px;
    height: 300px;
    
    
}

.aside {
    float: right;
    padding:5px 0px 225px 0px;
    margin: 10px auto;
    color : #777;
    text-align: center;
    font-size: 18px;
    width: 445px;
}


.footer {
    padding:1px 0px 1px 0px;
    margin:340px auto;
    color : #777;
    text-align: center;
    font-size: 18px;
    width: 960px;
}







